.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  margin: 5px;
  border-radius: 3px;
  padding: 10px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}


.right-nav > ul > li {
  margin-top: 8px;
  margin-right: 5px;
  cursor: pointer;

}

.right-nav > ul > li:last-of-type {
  position: relative;
  border-radius: 3px;
  transition: all 0.3s;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

.left-nav span {
  font-family: $sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.left-nav i {
  font-size: 18px;
}

.right-nav i {
  font-size: 24px;
}

@media all and (max-width: 800px) {
  .right-nav button {
  	display: none;
  }
  .left-nav > ul > li {
  	margin: 2px;
  }
  .main-nav {
  	padding: 10px 0;
  }
}
